# Ignore pyc files
*.pyc
*__pycache__

# Ignore IDE files
.idea
.project
.pydevproject
.vscode
.settings

# Ignore code coverage reports
.coverage
htmlcov

# Vim temporary files
*.swp
*.un
*.un~

# Temp files
.~lock.*
